.btn {
    padding: 10px 30px;
    background: white;
    border: 2px solid green;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
  }
  
  .btn:hover{
    background: green;
    color: white;
  }